/* * {
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .line {
    width: 100vw;
  }
  .left, .right {
    width: 50vw;
    overflow: hidden;
    display: inline-block;
  }
  .left {
    color:pink;
    transform: skew(0deg, -15deg);
  }
  .right {
    color: black;
    transform: skew(0deg, 15deg);
  }
  .left .content {
    width: 100vw;
    text-align: center;
  }
  .right .content {
    width: 100vw;
    text-align: center;
    transform: translate(-50vw);
  }
  span {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: .8;
    transition: ease-out .6s;
  }
  .wrap{
      margin-top: 25%;
  }
  #header{
      position: absolute;
      
  }
  .li1{
      display: inline-block;
      margin: 0;
  } */



  *{
    margin:0;
    padding: 0;
  }
  .navSize{
    font-size: xx-large;
  }
  #photo{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin-left: 25%;
  }
  #left{
width: 50%;
height: 50%;
float: left;
  }
  #right{
 width: 49%;
 float: right;
  position: relative;
  padding-bottom: 10%;
 }
 #name{
   margin-top: 15%;
   margin-left: 11%;
   font-size: 6rem;
 }
 #intro{
   height: 70%;
 }
 #intro-text{
   font-size: 150%;
   margin-left: 12%;
   margin-top: 10%;
 }
#project{
  margin-top: 40rem;
}
.projectSpace{
  margin-top: 50rem;
}